<tbody>
    <tr *ngFor="let job of jobsApplied" [hidden]="!((displayArchived && job.archive) || (!displayArchived && !job.archive))">
      <td class="border-grey-light border hover:bg-gray-100 p-3 px-5">{{ job.position }}</td>
      <td class="border-grey-light border hover:bg-gray-100 p-3 px-5">{{ job.company }}</td>
      <td class="border-grey-light border hover:bg-gray-100 p-3 px-5">{{ job.date_applied | date: 'shortDate' }}</td>
      <td class="border-grey-light border hover:bg-gray-100 p-3 px-5">{{ job.status }}</td>
      <td class="border-grey-light border hover:bg-gray-100 p-3 px-5">
        <button *ngIf="!job.archive" (click)="handleArchive(user_id, job._id)" class="{{ 'bg-red-500' }} text-white py-2 px-4 rounded">
          <fa-icon [icon]="faArchive"></fa-icon>
        </button>
      </td>
    </tr>
</tbody>